*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
  color: mediumturquoise;
}

.img{
    
width: 320px;
height: 300px;
border-radius: 50%;
object-fit: cover;
cursor: pointer;
margin-left: 80%;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background-color: hotpink;

}

.logo{
    position: relative;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    
}

.logo:hover{
    color: aqua;
}


.navbar a{
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: sideTop .5s ease forwards;
}

.navbar a:hover{
    color: aqua;

}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
 background-color: darkslategrey;
}

.home-content{
    max-width: 600px;
}


.home-content h3{
    font-size: 32px;
    font-weight: 600;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span{
    color: aqua;
}

.home-content h1{
    font-size: 56px;
    font-weight: 600;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;

}

.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border:  2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    transition: .5s ease;
}

.home-sci a:hover{
    background: aqua;
    color: #081b29;
    box-shadow: 0 0 20px aqua;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: aqua;
    border-radius: 40px;
    font-size: 16px;
     color: #081b29;
     letter-spacing: 1px;
     text-decoration: none;
     font-weight: 600;
     opacity: 0;
     animation: slideLeft1 1s ease forwards;
     animation-delay: 1s;
     
}

.btn-box:hover{
    box-shadow: 0 0 5px aqua, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

@keyframes slideRight {
    0%{
        
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}



@keyframes sideTop {
    0%{
        
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
}




@keyframes slideBottom {
    0%{
        
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
}



@keyframes slideLeft1 {
    0%{
        
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
}





@keyframes slideLeft {
    0%{
        
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
}



.rj{
    color: indianred;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 100;
    
}